
@font-face {
  font-family: 'LayarBahteraDoomsdayCondensed';
  src: url('LayarBahteraDoomsdayCondensed.eot?#iefix') format('embedded-opentype'),  url('LayarBahteraDoomsdayCondensed.woff') format('woff'), url('LayarBahteraDoomsdayCondensed.ttf')  format('truetype'), url('LayarBahteraDoomsdayCondensed.svg#LayarBahteraDoomsdayCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
